<html>
  <head></head>
  <body>
      <p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' name='Guess' />
    <!-the secret number is <%= number %> ->
    <p>
      <%= message %>
    </p>
    </p>
  </body>
</html>
